@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Dawning+of+a+New+Day&display=swap');

.btnStyle {

    height: 2em;
    width: 10em;
    background-color: white;
    margin: 0.5em;

    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;

    border-radius: 25em;

    font-family: 'Crafty Girls', cursive;
    font-weight: bold;
    color: #74B4E2;

    cursor: pointer;
}